.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: blueviolet;
}

.image_container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
}
.presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
}

.warped {
  filter: url(#turbulence);
}

.perspective {
  perspective: 500px;
  transform: rotateX(30deg) rotateY(20deg);
}

.clipped {
  clip-path: polygon(0% 20%, 100% 0%, 100% 80%, 0% 100%);
}

.filtered {
  filter: blur(5px) contrast(200%) hue-rotate(90deg);
}

.distorted {
  transform: skew(20deg, 10deg) scale(1.2, 0.8) rotate(10deg);
}