/*
body{
  background-color: #322834;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}

.footer-text {
  font-family: 'Open Sans', sans-serif;
  color: #6FC5BD;
}

.footer {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.App-body{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
}



@media screen and (max-width: 600px){
  .App {
    margin-top: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .App-body{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    height: 550px;
    justify-content: space-between;
    align-items: center;
  }

  .footer{
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  }
}
*/
body {
  background-color: #322834;
}

.App {
  display: grid;
  height: 100vh;
}
.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
